<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GeoSpy Search</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <div class="result-container">
            <img src="{{url_for('static', filename=image_path)}}" class="result-image">
            <div class="result-message">
                <p>{{result}}</p>
            </div>
        </div>
    </div>
    </div>
</body>
</html>
